<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <link href="/static/admin-choicer/index.css" rel="stylesheet">
    <link href="/static/admin-choicer/select2.min.css" rel="stylesheet">
    <script src="/static/admin-choicer/jquery.js"></script>
    <script src="/static/admin-choicer/select2.min.js"></script>
    <script src="/static/admin-choicer/index.js"></script>
    <title></title>
  </head>
  <body>
    <main class="main">
      <div class="main-container">
        <h1 class="main-title">Выбор панели администратора</h1>
        <select class="main-select select">
          <option></option>
          <option value="http://pomogut.of.by/admin-kids/">pomogut.by</option>
          <option value="http://abuse.pomogut.of.by/admin-abuse/">abuse.pomogut.by</option>
        </select>
        <button type="button" class="main-button"><span>OK</span></button>
      </div>
    </main>
  </body>
</html>
