{% extends "base.html" %}
{% block my_content %}
<header class="header header--secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="{% url 'main_page' %}" class="header__logo">
          <img src="/static/images/logo.png" />
        </a>
      </div>
      <div class="col-lg-6">
        <div class="header__title">
          <h2 class="headline-2">Партнерам - pomogut.by</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <a class="header__phone" href="tel:+375173110000"
          ><p>+ 375 17 311 00 00</p></a
        >
      </div>
    </div>
  </div>
</header>

<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="partners__title headline-1">ПАРТНЕРАМ</h1>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <nav class="main-menu partners__navigation">
          <ul class="main-menu__navigation">
            <li>
              <p class="link link--blue" data-form="1">
                <span>Зарегистрировать организацию</span>
              </p>
            </li>

            <li>
              <p class="link link--blue" data-form="2">
                <span>Опубликовать вакансию</span>
              </p>
            </li>

            <li>
              <p class="link link--blue" data-form="3">
                <span>Опубликовать мероприятия</span>
              </p>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-lg-6 offset-lg-3">
        <div class="partners__content">
          <div class="partners__form" data-form="1">
            <form id='add_org_form' method="post" action="">
              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="Наименование",
                  name="{{form.title.name}}"
                />
              </div>

              <div class="form-item__required">
                <select name="org_type" class="form-item__select--organization form-item">
                  <option></option>
                  {% for type in all_types %}
                    <option value="{{type.id}}">{{type.title}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="Населенный пункт"
                  name="pre_city"
                />
              </div>
              <div class="form-item__required">
                <div class="form-item__phone form-item">
                  <p>Контактный телефон</p>
                  <input
                    class="form-item"
                    type="text"
                    placeholder="+375 (__) ___ - __ - __"
                    name="{{form.tel1.name}}"
                  />
                </div>
              </div>
              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="email"
                  name="{{form.email.name}}"
                />
              </div>
              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="сайт"
                  name="{{form.website.name}}"/>
              </div>
              <div class="form-item__required">
                <textarea
                  class="form-item form-item__textarea"
                  placeholder="Описание организации"
                  name="{{form.description.name}}"
                ></textarea>
              </div>
              <button type="submit" class="btn">Отправить заявку</button>
            </form>
          </div>


          <div class="partners__form" data-form="2">
            <form id="add_vacancy_form" method="post" action="">
              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="Наименование вакансии",
                  name="title"
                />
              </div>
              <div class="form-item__required">
                <textarea
                  class="form-item form-item__textarea"
                  placeholder="Описание вакансии"
                  name="description"
                ></textarea>
              </div>
              <div class="form-item__required">
                <select name="time" class="form-item__select--work form-item">
                  <option></option>
                  <option value="1">Полная занятость</option>
                  <option value="2">Частичная занятость</option>
                  <option value="3">Подработка</option>
                  <option value="4">Гибкий график</option>
                </select>
              </div>
              <div class="form-item__required">
                <select name="ownership" class="form-item__select--form form-item">
                  <option></option>
                  <option value="1">Государственная</option>
                  <option value="2">Комерческая</option>
                  <option value="3">Общественная организация</option>
                  <option value="4">Религиозная организация</option>
                </select>
              </div>
              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="Работодатель"
                  name="employer"
                />
              </div>
              <div class="form-item__required">
                <div class="form-item form-item__phone">
                  <p>Контактный телефон</p>
                  <input
                    class="form-item"
                    type="text"
                    placeholder="+375 (__) ___ - __ - __"
                    name="tel"
                  />
                </div>
              </div>

              <div class="form-item__required">
                <input
                  class="form-item"
                  type="text"
                  placeholder="Населенный пункт"
                  name="pre_city"
                />
              </div>

              <div class="form-item__required">
                <input
                    class="form-item"
                    type="text"
                    placeholder="Адрес"
                    name="adress"
                />
              </div>
              <div class="form-item__required">
                <input
                    class="form-item"
                    type="text"
                    placeholder="Позиция"
                    name="position"
                />
              </div>
              <div class="form-item__required">
                <input
                    class="form-item"
                    type="text"
                    placeholder="email"
                    name="email"
                />
              </div>
              <button type="submit" class="btn">Отправить заявку</button>
            </form>
          </div>

          <div class="partners__form" data-form="3">
            <form id="add_event_form" method="post" action="">
                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Дата начала (в формате YYYY-MM-DD)"
                    name="start_date"
                  />
                </div>
                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Время начала"
                    name="start_time"
                  />
                </div>
                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Наименование мероприятия"
                    name="title"
                  />
                </div>
                <div class="form-item__required">
                  <select name="event_type" class="form-item__select--type form-item">
                    <option></option>
                    <option value="1">Культурные</option>
                    <option value="2">Образовательные</option>
                    <option value="3">Просветительски</option>
                    <option value="4">Религиозные</option>
                    <option value="5">Спортивные</option>
                    <option value="6">Отдых</option>
                    <option value="7">Профориентация</option>
                    <option value="8">Тренинги</option>
                  </select>
                </div>

                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Стоимость"
                    name="payment"
                  />
                </div>
                <div class="form-item form-item__checkbox">
                  <input name="free_entrance" type="checkbox" id="checkbox" /><label for="checkbox"
                    >Вход бесплатный</label
                  >
                </div>

                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Населенный пункт"
                    name="pre_city"
                  />
                </div>
                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Адрес проведения"
                    name="adress"
                  />
                </div>
                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Организатор мероприятия"
                    name="organizator"
                  />
                </div>
                <div class="form-item__required">
                  <textarea
                    class="form-item form-item__textarea"
                    placeholder="Описание мероприятия"
                    name="description"
                  ></textarea>
                </div>
                <div class="form-item__required">
                  <div class="form-item form-item__phone">
                    <p>Контактный телефон</p>
                    <input
                      class="form-item"
                      type="text"
                      placeholder="+375 (__) ___ - __ - __"
                      name="tel"
                    />
                  </div>
                </div>
                <div class="form-item__required">
                  <input
                    class="form-item"
                    type="text"
                    placeholder="Контактное лицо"
                    name="person"
                  />
                </div>
                <div class="form-item__required">
                  <input class="form-item" type="text" placeholder="email" />
                </div>
                <button type="submit" class="btn">Отправить заявку</button>
              </form>
            </div>


        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer footer--secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="footer__menu">
          <div class="footer__menu-item">
            <a class="link link--white" href="{% url 'help_pdf' %}"
              ><p>Первая медицинская помощь</p></a
            >
            {% for cat in up_cats %}
              <a class="link link--white" href="{{cat.get_absolute_url}}"><p>{{cat.title}}</p></a>
            {% endfor %}
          </div>

          <div class="footer__menu-item">
            {% for cat in down_cats %}
              <a
              class="link link--white"
              href="{{cat.get_absolute_url}}"
              ><p>{{cat.title}}</p></a
            >
            {% endfor %}
          </div>
          <div class="footer__menu-item">
            <a
              class="link link--white"
              href="/abuse/about/"
              ><p>О проекте</p></a
            >
            <a
              class="link link--white"
              href="/abuse/to-partners/"
              ><p>Стать партнером</p></a
            >
            <a
              class="link link--white"
              href="/abuse/about/"
              ><p>Написать нам</p></a
            >
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-2">
        <div class="footer__logos">
          <div class="logo-item">
            <img src="/static/images/logo-belhard.png" />
          </div>
          <div class="logo-item">
            <img src="/static/images/AIPSIN-logo.png" />
          </div>
          <div class="logo-item">
            <img src="/static/images/logo-un.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script>
  $('document').ready(function () {
      $('#add_org_form').submit(function(fun){
          fun.preventDefault();
          if (confirm('Данные заполнены верно?')) {
            form_id = this.id;
            $.ajax({
              url: '{% url "create_org"%}',
              data: $('#' + form_id).serialize(),
              success: function(){
                  console.log('done');
              }
            });
          }
      });

      $('#add_vacancy_form').submit(function(fun){
          fun.preventDefault();
          if (confirm('Данные заполнены верно?')) {
              form_id = this.id;
              $.ajax({
                  url: '{% url "create_vacancy"%}',
                  data: $('#' + form_id).serialize(),
                  success: function () {
                      console.log('done');
                  }
              });
          }
      });

      $('#add_event_form').submit(function(fun){
          fun.preventDefault();
          if (confirm('Данные заполнены верно?')) {
              form_id = this.id;
              $.ajax({
                  url: '{% url "create_event"%}',
                  data: $('#' + form_id).serialize(),
                  success: function () {
                      console.log('done');
                  }
              });
          }
      });
  })
</script>
{% endblock %}