{% extends "base.html" %}
{% block my_content %}
  <header class="header header--main">
    <div class="container">
      <div class="header__content">
        <div class="header__content__nav">
          <nav class="main-menu">
            <ul class="main-menu__links">
              <li>
                <a class="link" href="{% url 'help_pdf' %}"
                  ><span>Первая помощь</span></a
                >
              </li>
              {% for up_cat in up_cats %}
              <li>
                <a class="link" href="{{up_cat.get_absolute_url}}"
                  ><span>{{ up_cat.title }}</span></a
                >
              </li>
              {% endfor %}
              <li>
                <a class="link" href="{% url 'news_page' %}"
                  ><span>Новости</span></a
                >
              </li>
            </ul>
          </nav>

          <nav class="main-menu">
            <ul class="main-menu__navigation">
              {% for down_cat in down_cats %}
              <li>
                <a  class="link link--blue" href="{{down_cat.get_absolute_url}}"
                  ><span>{{ down_cat.title }}</span></a
                >
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <button class="header__button" type="button"><span></span></button>
    </div>
  </header>

  <section class="main main--page"></section>

  <footer class="footer footer--main">
    <div class="container footer__container">
      <a class="footer__phone" href="tel:+375173110000">+ 375 17 311 00 00</a>
      <nav class="main-menu footer__menu">
        <ul class="main-menu__links footer__menu__links">
          <li>
            <p>
              <a class="link" href="about/"
                ><span>О проекте</span></a
              >
            </p>
          </li>

          <li>
            <p>
              <a class="link" href="{% url 'to-partners' %}"
                ><span>Стать партнером</span></a
              >
            </p>
          </li>
        </ul>
      </nav>
      <a class="footer__logo" href="http://www.unodc.org/" target="_blank"
        ><i class="icon-un"></i
      ></a>
    </div>
  </footer>
{% endblock %}