<!--{%extends 'base.html' %}-->

<!--{% block header_links %}-->
<!--  <header class="header header&#45;&#45;secondary">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3">-->
<!--          <a href="{% url 'main_page' %}" class="header__logo">-->
<!--            <img src="/static/images/logo.png" />-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <div class="header__title">-->
<!--            <h2 class="headline-2">page title</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <a class="header__phone" href="tel:+375173110000"-->
<!--            ><p>+ 375 17 311 00 00</p></a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
<!--{% endblock %}-->

<!--{% block side_bar %}-->
<!--  <div class="col-lg-3">-->
<!--    <div class="side-menu">-->
<!--      <div class="side-menu__content">-->
<!--        <div class="side-menu__links side-menu__links&#45;&#45;main">-->
<!--          {% if show_help %}-->
<!--            <a class="link link&#45;&#45;medium-blue" href="{% url 'help_pdf' %}"-->
<!--              ><p>Первая помощь</p></a-->
<!--            >-->
<!--          {% endif %}-->
<!--          {% for link in  this_category.cross_link.all %}-->
<!--            <a class="link link&#45;&#45;medium-blue" href="{% url 'main_articles' slug=link.slug %}"-->
<!--              ><p>{{link.title}}</p></a-->
<!--            >-->
<!--          {% endfor %}-->
<!--        </div>-->
<!--        <div class="side-menu__links">-->
<!--         {% for article in pages %}-->
<!--            <a class="link link&#45;&#45;green" href="#{{ article.id }}"><p>{{ article.title }}</p></a>-->
<!--          {% endfor %}-->
<!--          {% if employment_flag %}-->
<!--            <a class="link link&#45;&#45;green" href="#employment_widget"><p>Трудоустройство</p></a>-->
<!--          {% endif %}-->
<!--          {% if org_widget_flag %}-->
<!--            <a class="link link&#45;&#45;green" href="#local_orgs"><p>Организации</p></a>-->
<!--          {% endif %}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--{% endblock %}-->


<!--{% block content %}-->
<!--  <div class="col-lg-6">-->
<!--    {% for article in pages %}-->
<!--    <a name="{{ article.id }}"></a>-->
<!--    <div class="article">-->

<!--      <h1 class="article__title headline-1">{{ article.title }}</h1>-->
<!--       {% for i in article.content.main%}-->
<!--        {{i.render}}-->
<!--      {% endfor %}-->
<!--      <div class="article__buttons article__buttons&#45;&#45;center">-->
<!--        {% for link in article.button.all %}-->
<!--         <a href="{{ link.link }}" class="btn" target=""><span>{{ link.title }}</span></a>-->
<!--        {%endfor%}-->
<!--        {% if article.org_button and org_widget_flag %}-->
<!--          <a href="#local_orgs" class="btn" target=""><span>Найти ближайшую организацию</span></a>-->
<!--        {% endif %}-->

<!--      </div>-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--  </div>-->
<!--  <div class="col-lg-3">-->
<!--    <div class="information-side">-->
<!--      <div class="information-block">-->
<!--            <div class="quiz">-->
<!--              <div class="quiz-item">-->
<!--              {% for q in questions %}-->
<!--                <form name="question_form" action="">-->
<!--                  <input hidden name="answer_for" value="{{q.title}}">-->
<!--                  <p class="quiz-item__title">-->
<!--                    {{q.title}}-->
<!--                  </p>-->
<!--                  <div class="quiz-item__content">-->
<!--                    {% for choice in q.get_choices %}-->
<!--                      <div class="quiz-item__radio">-->
<!--                        <p>-->
<!--                          <input-->
<!--                          type="radio"-->
<!--                          name="{{q.title}}"-->
<!--                          value="{{choice}}"-->
<!--                          id="{{choice.id}}"-->
<!--                          />-->
<!--                          <label for="{{choice.id}}">{{choice.title}}</label>-->
<!--                        </p>-->
<!--                      </div>-->
<!--                    {% endfor %}-->
<!--                    <button type="submit" class="btn quiz-item__button">-->
<!--                      Голосовать-->
<!--                    </button>-->
<!--                  </div>-->
<!--                  <button-->
<!--                    type="button"-->
<!--                    class="quiz-item__button quiz-item__button&#45;&#45;transparent"-->
<!--                  >-->
<!--                    Показать результаты-->
<!--                  </button>-->
<!--                </form>-->
<!--              {% endfor %}-->
<!--              </div>-->
<!--            </div>-->


<!--              <div class="quiz-item quiz-item&#45;&#45;done">-->
<!--                <div class="quiz-item__content">-->
<!--                  <div class="quiz-item__result">-->
<!--                    <p class="quiz-item__result__title">-->
<!--                      Да, готов (72%, 129 голосов)-->
<!--                    </p>-->
<!--                    <div-->
<!--                      class="quiz-item__result__progress"-->
<!--                      style="width: 72%"-->
<!--                    ></div>-->
<!--                  </div>-->
<!--                  <div class="quiz-item__result">-->
<!--                    <p class="quiz-item__result__title">-->
<!--                      Зависит от условия (16%, 29 голосов)-->
<!--                    </p>-->
<!--                    <div-->
<!--                      class="quiz-item__result__progress"-->
<!--                      style="width: 16%"-->
<!--                    ></div>-->
<!--                  </div>-->
<!--                  <div class="quiz-item__result">-->
<!--                    <p class="quiz-item__result__title">-->
<!--                      Нет, не готов (9%, 16 голосов)-->
<!--                    </p>-->
<!--                    <div-->
<!--                      class="quiz-item__result__progress"-->
<!--                      style="width: 9%"-->
<!--                    ></div>-->
<!--                  </div>-->
<!--                  <div class="quiz-item__result">-->
<!--                    <p class="quiz-item__result__title">-->
<!--                      Зависит от других факторов (3%, 5 голосов)-->
<!--                    </p>-->
<!--                    <div-->
<!--                      class="quiz-item__result__progress"-->
<!--                      style="width: 3%"-->
<!--                    ></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="quiz-item__all">-->
<!--                  <p>Всего проголосовавших:<strong>129</strong></p>-->
<!--                </div>-->
<!--                <button-->
<!--                  type="button"-->
<!--                  class="quiz-item__button quiz-item__button&#45;&#45;transparent"-->
<!--                >-->
<!--                  Голосовать-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--    </div>-->
<!--  </div>-->
<!--{% endblock %}-->


<!--{% block footer %}-->
<!--  <footer class="footer footer&#45;&#45;secondary">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-9">-->
<!--        <div class="footer__menu">-->
<!--          <div class="footer__menu-item">-->
<!--            <a class="link link&#45;&#45;white" href="#help"-->
<!--              ><p>Первая медицинская помощь</p></a-->
<!--            >-->
<!--            <a class="link link&#45;&#45;white" href="/relapse/"><p>Срыв</p></a>-->
<!--            <a class="link link&#45;&#45;white" href="/hiv-hepatitis/"-->
<!--              ><p>Вич/Гепатит</p></a-->
<!--            >-->
<!--            <a class="link link&#45;&#45;white" href="http://pomogut.by/legal-info/"-->
<!--              ><p>Правовая информация</p></a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="footer__menu-item">-->
<!--            <a-->
<!--              class="link link&#45;&#45;white"-->
<!--              href="https://abuse.pomogut.by/i-am-codependent/"-->
<!--              ><p>Мой близкий в проблеме</p></a-->
<!--            >-->
<!--            <a class="link link&#45;&#45;white" href="https://abuse.pomogut.by/org/"-->
<!--              ><p>Я употребляю</p></a-->
<!--            >-->
<!--            <a-->
<!--              class="link link&#45;&#45;white"-->
<!--              href="https://abuse.pomogut.by/i-am-on-remission/"-->
<!--              ><p>Я на ремиссии</p></a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="footer__menu-item">-->
<!--            <a class="link link&#45;&#45;white" href="/сareers/"-->
<!--              ><p>Центры занятости</p></a-->
<!--            >-->
<!--            <a-->
<!--              class="link link&#45;&#45;white"-->
<!--              href="https://abuse.pomogut.by/events/"-->
<!--              ><p>Мероприятия</p></a-->
<!--            >-->
<!--            <a-->
<!--              class="link link&#45;&#45;white"-->
<!--              href="https://abuse.pomogut.by/about/"-->
<!--              ><p>О проекте</p></a-->
<!--            >-->
<!--            <a-->
<!--              class="link link&#45;&#45;white"-->
<!--              href="http://pomogut.by/to-partners/"-->
<!--              ><p>Стать партнером</p></a-->
<!--            >-->
<!--            <a-->
<!--              class="link link&#45;&#45;white"-->
<!--              href="http://pomogut.by/about/#contacts"-->
<!--              ><p>Написать нам</p></a-->
<!--            >-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--          <div class="offset-lg-1 col-lg-2">-->
<!--            <div class="footer__logos">-->
<!--              <div class="logo-item">-->
<!--                <img src="/static/images/logo-belhard.png" />-->
<!--              </div>-->
<!--              <div class="logo-item">-->
<!--                <img src="/static/images/AIPSIN-logo.png" />-->
<!--              </div>-->
<!--              <div class="logo-item">-->
<!--                <img src="/static/images/logo-un.png" />-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--{% endblock %}-->

<!--{% block organizations %}-->
<!--  {% if org_widget_flag %}-->
<!--  <section class="organizations">-->
<!--    <a name="local_orgs"></a>-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-6 offset-lg-3">-->
<!--              <div class="article article-map">-->
<!--                <h2 class="article__title headline-1">Организации</h2>-->
<!--                <div class="article__description">-->
<!--                  <p>-->
<!--                    Мы собрали организации, которые готовы тебе помочь. Их список-->
<!--                    будет постоянно расширяться, чтобы ты всегда мог получить-->
<!--                    ближайшую к тебе помощь.-->
<!--                  </p>-->
<!--                  <p>-->
<!--                    (Организациям, оказывающим услуги лицам в проблеме наркотиков!-->
<!--                    Если вы не нашли свою организацию - -->
<!--                    <a href="#">отправьте заявку на ее добавление.</a>-->
<!--                    )-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="article__select organizations__select">-->
<!--                  <div class="organizations__select__item">-->
<!--                    <p>Выберите вид деятельности</p>-->
<!--                    <select class="organizations__select__specifications">-->
<!--                      <option></option>-->
<!--                      {% for type in all_types %}-->
<!--                        <option value="{{type.title}}">{{type.title}}</option>-->
<!--                      {% endfor %}-->
<!--                    </select>-->
<!--                  </div>-->
<!--                  <div class="organizations__select__item">-->
<!--                    <p>Выберите город</p>-->
<!--                    <select class="organizations__select__cities">-->
<!--                      <option></option>-->
<!--                      {% for city in all_cites %}-->
<!--                        <option value="{{city.title}}">{{city.title}}</option>-->
<!--                      {% endfor %}-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="organizations__content">-->
<!--                  {% for org in orgs %}-->
<!--                    <div-->
<!--                    class="organization-item"-->
<!--                    data-city="{{org.city.title}}"-->
<!--                    data-spec="{% for type in org.get_services %}{{ type.org_type.title }}, {% endfor %}"-->
<!--                  >-->
<!--                    <div class="organization-item__information">-->
<!--                      <p class="organization-item__title">-->
<!--                        {{org.title}}-->
<!--                      </p>-->
<!--                      <div class="organization-item__adress">-->
<!--                        <div class="icon-wrapper">-->
<!--                          <i class="icon-map-marker"></i>-->
<!--                        </div>-->
<!--                        <p class="">{{org.adress}}</p>-->
<!--                      </div>-->
<!--                      <a class="organization-item__link" href="/abuse/organization/{{org.slug}}"></a>-->
<!--                    </div>-->

<!--                    <div class="organization-item__phone">-->
<!--                      <div class="icon-wrapper">-->
<!--                        <i class="icon-phone"></i>-->
<!--                      </div>-->
<!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
<!--                        ><p class="">-->
<!--                          {{org.tel1}}-->
<!--                        </p></a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor %}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="organizations__map"></div>-->
<!--      </section>-->
<!--      {% endif %}-->
<!--{% endblock %}-->

