<section class="feedback">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="feedback__item">
          <h2 class="feedback__item__title headline-1">Заказать звонок</h2>
          <div class="feedback__content">
            <input
              class="feedback__content__input"
              type="text"
              placeholder="Ваше имя"
              required
            />
            <input
              class="feedback__content__input"
              type="text"
              placeholder="Ваш номер телефона"
              required
            />
            <button type="button" class="btn">Отправить</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="feedback__item">
          <h2 class="feedback__item__title headline-1">Напишите нам</h2>
          <div class="feedback__content">
            <textarea
              class="feedback__content__input"
              placeholder="Текст сообщения"
              required
            ></textarea>
            <button type="button" class="btn">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('document').ready(function (fun) {
    $('.form_feedback').submit(function (fun) {
      fun.preventDefault();
      form_id = this.id;
      $.ajax({
        url: "{% url 'create_feedback' %}",
          data: $('#' + form_id).serialize(),
          success: function(){
            alert('Ваше сообщение отправлено, спасибо!')
          }
      });
    });
  })
</script>