{% load static %}
<div class="participants" id="{{widget.prefix}}{{widget.id}}">
  <h2 class="participants__title headline-1">{{widget.title}}</h2>
  <div class="participants__content">
    {% for partner in partners %}
      <div class="participant">
        <div class="participant__img-wrapper">
          <img
            class="participant__img"
            src="{% get_media_prefix %}{{partner.picture.file}}"
            alt=""
          />
        </div>
        <p class="participant__title">
          {{partner.title}}
        </p>
        <a
          class="participant__link"
          href="{{partner.link}}"
          title="participant-title"
        ></a>
      </div>
    {% endfor %}
  </div>
</div>
