<div class="quiz">
  <h1 class="information-block__title headline-1">Полезная информация</h1>
    <div class="information-block__text">
      {% for i in info %}
        <p><strong>{{i.title}}</strong></p>
        {{i.text|safe}}
      {% endfor %}
    </div>
    <div class="quiz-item">

    {% for q in quiz %}
    <form id="form_{{q.id}}" class="form_quiz" name="question_form" action="{% url 'get_answer' %}">
      <input hidden name="answer_for" value="{{q.title}}">
      <p class="quiz-item__title">
        {{q.title}}
      </p>
      <div class="quiz-item__content">
        {% for choice in q.get_choices %}
          <div class="quiz-item__radio">
            <p>
              <input
              type="radio"
              name="{{q.title}}"
              value="{{choice}}"
              id="{{choice.id}}"
              />
              <label for="{{choice.id}}">{{choice.title}}</label>
            </p>
          </div>
        {% endfor %}

        <button
          type="submit"
          class="quiz-item__button btn quiz-item__button"
          id="button_{{q.id}}"
          name="submit_answer"
        >
          Голосовать
        </button>
      </div>
      <button
        type="button"
        class="quiz-item__button quiz-item__button--transparent"
        id="show_form_{{q.id}}"
      >
        Показать результаты
      </button>
    </form>
    <div id="res_form_{{q.id}}" style="display: none" class="quiz-item quiz-item--done">
      <div class="quiz-item__content">
        <div class="quiz-item__result">
          {% for answ, res in q.get_percent.items %}
            <p class="quiz-item__result__title">
                {{answ}} ({{res.0}}%, {{res.1}} голосов)
              </p>
              <div
                class="quiz-item__result__progress"
                style="width: {{res.0}}%"
              ></div>
          {% endfor %}
        </div>
      </div>
      <div class="quiz-item__all">
        <p>Всего проголосовавших:<strong>{{q.get_amount.all}}</strong></p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<script src="/static/scripts/vendor/jquery.js"></script>
<script>
  $('document').ready(function () {
      $('.quiz-item__button--transparent').on('click', function () {
          form_id = this.id.slice(5)
          console.log(form_id);
          $('#res_' + form_id).toggle();
      });

      $('.form_quiz').submit(function(fun){
          fun.preventDefault();
          form_id = this.id;
          $.ajax({
            url: "{% url 'get_answer' %}",
            data: $('#' + form_id).serialize(),
            success: function(){
                $('#' + form_id).toggle();
                $('#res_' + form_id).toggle();
            }
          });
      });
  })
</script>