{% extends "base.html" %}
{% block my_content %}
  <header class="header header--secondary">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="{% url 'main_page' %}" class="header__logo">
            <img src="/static/images/logo.png" />
          </a>
        </div>
        <div class="col-lg-6">
          <div class="header__title">
            <h2 class="headline-2">{{feincms_page.title}} - pomogut.by</h2>
          </div>
        </div>
        <div class="col-lg-3">
          <a class="header__phone" href="tel:+375173110000"
            ><p>+ 375 17 311 00 00</p></a
          >
        </div>
      </div>
    </div>
  </header>

  <section class="main">
    <div class="container">
      <div class="row">
        {% block side_bar %}
          <div class="col-lg-3">
            <div class="side-menu">
              <div class="side-menu__content">
                <div class="side-menu__links side-menu__links--main">
                  {% if feincms_page.show_help %}
                    <a class="link link--medium-blue" href="{% url 'help_pdf' %}"
                      ><p>Первая помощь</p></a
                    >
                  {% endif %}
                  {% for link in feincms_page.cross_link.all %}
                    <a class="link link--medium-blue" href="{{link.get_absolute_url}}"
                      ><p>{{link.title}}</p></a
                    >
                  {% endfor %}
                </div>
                <div class="side-menu__links">
                  {% for i in feincms_page.content.main %}
                    {% if i.link_title %}
                      <a class="link link--green" href="#{{i.prefix}}{{i.id}}"><p>{{ i.alt_title }}</p></a>
                    {% else %}
                      <a class="link link--green" href="#{{i.prefix}}{{i.id}}"><p>{{ i.title }}</p></a>
                    {% endif %}
                  {% endfor %}
                  {% for i in feincms_page.content.sections %}
                    {% if i.title %}
                      <a class="link link--green" href="#{{i.prefix}}{{i.id}}"><p>{{i.title}}</p></a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endblock %}


        {% block content %}
          <div class="col-lg-6">
            {% for content in feincms_page.content.main %}
              {{ content.render }}
            {% endfor %}
          </div>

          <div class="col-lg-3">
            <div class="information-side">
              <div class="information-block">
                {% block right_sidebar%}
                  {% for content in feincms_page.content.right_sidebar %}
                      {{ content.render }}
                    {% endfor %}
                {% endblock %}
              </div>
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
  </section>


  {% block sections %}
    {% for content in feincms_page.content.sections %}
      {{ content.render }}
    {% endfor %}
  {% endblock %}

  {% block footer %}
    {% for footer in feincms_page.content.footer %}
      {{ footer.render }}
    {% endfor %}
  {% endblock %}

{% endblock %}

</body>

</html>