{% block content %}
<div class="article" id="{{widget.title}}">
  <h1 class="article__title headline-1">{{widget.title}}</h1>
  {% if widget.picture %}
    <div class="article__image-wrapper aspect-ratio">
      <img src="{{widget.get_img}}" alt="{{widget.picture}}" />
    </div>
  {% endif %}
  {% if widget.text %}
    <div class="article__description">
      <p>
        {{widget.text|safe}}
      </p>
    </div>
  {% endif %}
  {% if widget.list %}
  <ul class="article__list">
    {{widget.list|safe}}
  </ul>
  {% endif %}
  <div class="article__buttons article__buttons--center">
    {% for link in widget.link.all %}
      <a href="{{link.link}}" class="btn" target="{{link.target}}"
        ><span>{{link.title}}</span></a
      >
    {% endfor %}
    {% if widget.org_button %}
      <a class="btn" href="#Организации"><p>Организации</p></a>
    {% endif %}
  </div>
</div>
{% endblock %}