[class^="icon"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.icon-un {
  background-image: url($images + "/logo-un.png");
  width: 69px;
  height: 58px;
}

.icon-calendar {
  background-image: url($icons + "/calendar.svg");
  width: 15px;
  height: 15px;
}

.icon-phone {
  background-image: url($icons + "/phone-icon.svg");
  width: 15px;
  height: 20px;
}

.icon-map-marker {
  background-image: url($icons + "/map-marker.svg");
  width: 15px;
  height: 20px;
}

.icon-map-marker-green {
  background-image: url($icons + "/map-marker-green.svg");
  width: 15px;
  height: 25px;
}

.icon-clock {
  background-image: url($icons + "/clock.svg");
  width: 15px;
  height: 15px;
}

.icon-card {
  background-image: url($icons + "/card.svg");
  width: 22px;
  height: 25px;
}
