h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
textarea,
input {
  font-family: "GothamPro", sans-serif;
}

p {
  font-size: 14px;
  line-height: 24px;
}

.headline-1 {
  font-size: 21px;
  line-height: 27px;
  color: $gray;
  font-weight: 700;
  text-transform: uppercase;
}

.headline-3 {
  font-size: 14px;
  line-height: 21px;
  color: $gray;
  font-weight: 700;
}
