.news {
  &__container {
    background-color: $white;
    padding: 37px;
    border-radius: 12px;
    box-shadow: 0 0px 43px $silver;
    padding-bottom: 250px;
  }

  &__title {
    color: $blue;
    font-size: 25px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
  }

  &__content {
    margin-top: 45px;
  }
}
