.organizations {
  &__select {
    display: flex;
    flex-direction: column;

    &__item {
      // display: grid;
      // grid-template-columns: 0.3fr 0.6fr;
      // grid-column-gap: 25px;
      // grid-row-gap: 22px;
      align-items: center;
      margin-bottom: 22px;
      display: flex;
      height: 42px;

      & > p {
        font-weight: bold;
        width: 35%;
        margin-right: 5%;
      }

      .select2-container {
        width: 100% !important;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    // padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }

  &__map {
    width: 100%;
    padding-bottom: 500/1920 * 100%;
    position: relative;

    &-contact {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 15px;
        background: $white;
        -webkit-box-shadow: 0 0 43px #cccccc;
        box-shadow: 0 0 43px #cccccc;
        border-radius: 0 0 12px 12px;
      }

      &__item {
        width: 20%;

        &:not(:first-child) {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -15px;
            width: 1px;
            height: 100%;
            background: #e9e9e9;
          }
        }

        .title {
          font-weight: 700;
        }

        .desc {
          margin-top: 10px;

          p:not(:last-child) {
            margin-top: 5px;
          }

          a {
            p {
              border-bottom: 1px solid $gray;
              transition: all 0.5s;
              display: inline;
            }

            &:hover {
              p {
                opacity: 0.7;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .organizations {
    &__select {
      &__item {
        display: unset;
        height: unset;

        & > p {
          width: 100%;
          margin-right: 0;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }

    &__content {
      grid-template-columns: 1fr 1fr;
    }

    &__map {
      padding-bottom: 500/375 * 100%;

      &-contact {
        &__content {
          display: flex;
          flex-direction: column;
          justify-content: unset;
        }

        &__item {
          width: 100%;
          text-align: center;

          &:not(:first-child) {
            margin-top: 30px;

            &:before {
              content: none;
            }
          }

          .desc {
            margin-top: 6px;
          }
        }
      }
    }
  }
}
