/* scroll bar style */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.help_chat_iframe {
    overflow: hidden;
    background-color: #FFFFFF;
    position: center;
    border: none;
    height: 91%;
    width: 100%;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*right: 20px;*/
    /*height: 60%;*/
    /*width: 45%;*/
}

.help_chat_iframe_div {
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    right: 20px;
    height: 60%;
    width: 45%;
    max-width: 960px;
    border: none;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.16), 0 16px 48px rgba(0, 0, 0, 0.08);
}

.help_chat_user_text {
    background: #2D9CDB;
    border: 1px solid #2D9CDB;
    box-sizing: border-box;
    border-radius: 24px;

    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    /* identical to box height, or 22px */
    /*display: flex;*/
    color: #FFFFFF;

    display: inline-block;
    padding: 13px 24px 13px 24px;
    margin: 10px 32px 10px 0;
    text-align: right;
}

.help_chat_bot_text {
    background: #F8F8F8;
    border-radius: 24px;
    /*font-family: Segoe UI, serif;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    /* or 22px */
    color: rgba(0, 0, 0, 0.9);
    padding: 24px;
    margin: 10px 70px 10px 0;
}

.help_chat_main_div {
    font-size: 16px;
    line-height: 135%;
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.45rem !important;
}

.help_chat_btn_close {
    color: #FFFFFF;
    vertical-align: middle;
    margin-right: 32px;
    height: 24px;
    display: none;
}

.help_chat_head_div {
    max-width: 100%;
    background-color: #2D9CDB;
    height: 50px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.help_chat_body_div {
    background-color: #FFFFFF;
    /*max-height: 450px;*/
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    /*top: 0;*/
    bottom: 150px;
    width: 100%;
    padding-bottom: 5px;
    /*left: 32px;*/
}

.help_chat_buttons_div {
    background-color: #F8F8F8;
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    /*width: 96%;*/
    right: 0;
    left: 0;
    padding: 10px 16px 30px 16px;
    text-align: center !important;
}

/*.btn_restore_chat {*/
/*    color: #FFFFFF;*/
/*    vertical-align: middle;*/
/*    position: fixed;*/
/*    right: 80px;*/
/*    top: 10px;*/
/*    height: 24px;*/
/*    background-color: green;*/
/*}*/

.help_chat_btn_default.help_chat_btn_restore {
    /*color: #2D9CDB;*/
    vertical-align: middle;
    position: fixed;
    right: 32px;
    bottom: 160px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help_chat_btn_open {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 100%;
    color: #FFFFFF;
    margin: 0 0 0 0;
    padding: 0 0 0 32px;
    flex: auto;
    display: flex;
    align-items: center;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.help_chat_btn_default {
    background: #FFFFFF;
    border: 1px solid #2D9CDB;
    box-sizing: border-box;
    border-radius: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    /* identical to box height, or 22px */
    color: #2D9CDB;

    min-height: 48px;
    padding: 13px 16px 13px 16px;
    margin: 4px;
    cursor: pointer;
}

.help_chat_btn_default:hover {
    color: #FFFFFF;
    background-color: #2D9CDB;
    border: 1px solid #2D9CDB;
}


.help_chat_shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

[hidden] {
    display: none !important;
}

.ymaps-geolink {
    white-space: pre-wrap !important;
}

@media (max-width: 1140px ) {
    .help_chat_btn_open {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .help_chat_iframe_div {
        left: 20px;
        width: auto;
    }
}

@media (max-width: 597px) {

    .help_chat_buttons_div {
        height: 200px;
    }

    .help_chat_body_div {
        bottom: 240px;
    }

    .ymaps-geolink:after {
        display: none;
    }

    .help_chat_btn_default.help_chat_btn_restore {
        bottom: 280px;
    }
}
