.information-block {
  &__title {
    text-transform: uppercase;
  }

  &__text {
    p:first-child {
      color: $blue;
    }
  }

  &__image {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 75%;
  }
}
