.main-menu {
  width: 100%;
  max-width: 910px;
  margin: 0 auto;

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 23px 0;

    li {
      .link {
        padding: 0 10px;
        position: relative;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;

        &::after {
          content: "";
          position: absolute;
          top: 2px;
          bottom: 2px;
          width: 1px;
          background-color: $medium-gray;
          right: 0px;
        }
      }

      &:last-child {
        .link {
          &::after {
            content: none;
          }
        }
      }
    }
  }

  &__navigation {
    border-radius: 12px;
    box-shadow: 0 0px 43px #cccccc;
    // display: grid;
    // grid-template-columns: repeat(4, minmax(227px, 1fr));
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link {
      height: 100%;
      width: 100%;
      transition: 0.5s;
      background-color: $white-smoke;
      padding: 20px 35px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $blue;
      }
    }

    li {
      flex: 1;

      &:not(:last-child) {
        border-right: 1px solid #e4e4e4;
      }
    }
  }
}

@media (max-width: $lg) {
  .main-menu {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;

    &__links:not(.footer__menu__links) {
      flex-direction: column;
      padding: 0;

      li {
        .link {
          padding: 10px 35px;

          &::after {
            content: none;
          }
        }
      }
    }

    &__links {
      li {
        .link {
          font-weight: normal;
          text-shadow: none;
        }
      }
    }

    &__navigation {
      // border-radius: 0;
      // box-shadow: none;
      display: flex;
      flex-direction: column;

      li:not(:last-child) {
        border: none;
      }

      .link {
        padding: 10px 35px;
      }
    }
  }
}
