<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>
  </head>
  <body>
    <header class="header header--secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a href="/" class="header__logo">
              <img src="/static/images/logo.png" />
            </a>
          </div>
          <div class="col-lg-6">
            <div class="header__title">
              <h2 class="headline-2">page title</h2>
            </div>
          </div>
          <div class="col-lg-3">
            <a class="header__phone" href="tel:+375173110000"
              ><p>+ 375 17 311 00 00</p></a
            >
          </div>
        </div>
      </div>
    </header>
    <footer class="footer footer--secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="footer__menu">
              <div class="footer__menu-item">
                <a class="link link--white" href="#help"
                  ><p>Первая медицинская помощь</p></a
                >
                <a class="link link--white" href="/relapse/"><p>Срыв</p></a>
                <a class="link link--white" href="/hiv-hepatitis/"
                  ><p>Вич/Гепатит</p></a
                >
                <a class="link link--white" href="http://pomogut.by/legal-info/"
                  ><p>Правовая информация</p></a
                >
              </div>
              <div class="footer__menu-item">
                <a
                  class="link link--white"
                  href="https://abuse.pomogut.by/i-am-codependent/"
                  ><p>Мой близкий в проблеме</p></a
                >
                <a class="link link--white" href="https://abuse.pomogut.by/org/"
                  ><p>Я употребляю</p></a
                >
                <a
                  class="link link--white"
                  href="https://abuse.pomogut.by/i-am-on-remission/"
                  ><p>Я на ремиссии</p></a
                >
              </div>
              <div class="footer__menu-item">
                <a class="link link--white" href="/сareers/"
                  ><p>Центры занятости</p></a
                >
                <a
                  class="link link--white"
                  href="https://abuse.pomogut.by/events/"
                  ><p>Мероприятия</p></a
                >
                <a
                  class="link link--white"
                  href="https://abuse.pomogut.by/about/"
                  ><p>О проекте</p></a
                >
                <a
                  class="link link--white"
                  href="http://pomogut.by/to-partners/"
                  ><p>Стать партнером</p></a
                >
                <a
                  class="link link--white"
                  href="http://pomogut.by/about/#contacts"
                  ><p>Написать нам</p></a
                >
              </div>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2">
            <div class="footer__logos">
              <div class="logo-item">
                <img src="/static/images/logo-belhard.png" />
              </div>
              <div class="logo-item">
                <img src="/static/images/AIPSIN-logo.png" />
              </div>
              <div class="logo-item">
                <img src="/static/images/logo-un.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
