<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    <section class="news">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="news__container">
              <h1 class="news__title">НОВОСТИ</h1>
              <div class="news__content">
                <div class="news-item">
                  <h3 class="news-item__title">
                    Основополагающие принципы в выздоровлении от наркомании и
                    алкоголизма
                  </h3>
                  <p class="news-item__data">28-08-2020</p>
                  <div class="news-item__image aspect-ratio">
                    <img src="https://via.placeholder.com/1500x750" />
                  </div>
                  <p class="news-item__description">
                    Зрелая личность в основу своей жизнедеятельности ставит
                    основополагающие жизненные принципы, необходимые для
                    нормального существования в обществе.
                  </p>
                  <a class="news-item__button link link--blue" href="#"
                    >Подробнее</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
