<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- {% load compress %}-->

    <!-- {% compress css %}-->
    <!--        <link type="text/x-scss" href="/static/styles/index.scss" rel="stylesheet" media="screen">-->
    <!--    {% endcompress %}-->

    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Pomogut</title>
  </head>

  <body>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="article article__organization">
              <div class="article__image-wrapper aspect-ratio">
                <img src="https://via.placeholder.com/1140x764" alt="" />
                <a class="article__image-caption" href="/" target="__blank">
                  <p>
                    УЗ «Городской клинический наркологический диспансер», г.
                    Минск
                  </p>
                </a>
              </div>
              <div class="article__organization__info">
                <div class="article__organization__info__item">
                  <div class="article__organization__info__desc">
                    <div class="icon-wrapper">
                      <i class="icon-map-marker-green"></i>
                    </div>
                    <p>Расположение</p>
                  </div>
                  <div class="article__organization__info__content">
                    <span>г. Минск, ул. Гастелло, 16</span>
                  </div>
                </div>
                <div class="article__organization__info__item">
                  <div class="article__organization__info__desc">
                    <div class="icon-wrapper"><i class="icon-card"></i></div>
                    <p>Услуги</p>
                  </div>
                  <div class="article__organization__info__content">
                    <ul>
                      <li><span>Первая медицинская помощь.</span></li>
                      <li><span>Детоксикация.</span></li>
                      <li><span>Реабилитационные программы.</span></li>
                      <li><span>Консультация нарколога.</span></li>
                      <li><span>Консультация психолога.</span></li>
                      <li><span>Обследование на ВИЧ.</span></li>
                      <li><span>Обмен шприцев.</span></li>
                      <li><span>Обследование на туберкулез.</span></li>
                      <li>
                        <span>Тест на наличие наркотиков в организме.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="organizations__map">
            <div class="organizations__map-contact">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="organizations__map-contact__content">
                      <div class="organizations__map-contact__item">
                        <p class="title">Адрес</p>
                        <div class="desc">
                          <p>г. Минск, ул. Гастелло, 16</p>
                        </div>
                      </div>
                      <div class="organizations__map-contact__item">
                        <p class="title">Время работы</p>
                      </div>
                      <div class="organizations__map-contact__item">
                        <p class="title">Телефоны</p>
                        <div class="desc">
                          <a href="tel:123443534"><p>123443534</p></a>
                        </div>
                      </div>
                      <div class="organizations__map-contact__item">
                        <p class="title">Сайт</p>
                        <div class="desc">
                          <a href="/" target="__blank"
                            ><p>http://narkologi.by/</p></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
