<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    <section class="single-news">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="single-news__container">
              <h1 class="single-news__title">
                Основополагающие принципы в выздоровлении от наркомании и
                алкоголизма
              </h1>
              <div class="single-news__content">
                <p class="single-news__data">28-08-2020</p>
                <div class="single-news__content__description">
                  <p>
                    Зрелая личность в основу своей жизнедеятельности ставит
                    основополагающие жизненные принципы, необходимые для
                    нормального существования в обществе.
                  </p>
                </div>
                <div class="single-news__source">
                  <p>Источник:</p>
                  <a class="" href="#">example.com</a>
                </div>
              </div>
              <a class="single-news__button link link--blue" href="#"
                >Назад ко всем новостям</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
