<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- {% load compress %}-->

    <!-- {% compress css %}-->
    <!--        <link type="text/x-scss" href="/static/styles/index.scss" rel="stylesheet" media="screen">-->
    <!--    {% endcompress %}-->

    <link
      type="text/css"
      href="../../static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    <div class="article article-select">
      <h1 class="article__title headline-1">ТРУДОУСТРОЙСТВО</h1>
      <div class="article__description">
        <p>
          По вопросам содействия в трудоустройстве вы можете обратиться в орган
          государственной службы занятости по месту регистрации или жительства.
          Здесь вам окажут следующие услуги:
        </p>
      </div>
      <ul class="article__list">
        <li><p>Обменять использованные шприцы и иглы на новые</p></li>
      </ul>
      <div class="article__select">
        <select class="article__select-item">
          <option></option>
          <option class="select__option" value="Minsk">Минск</option>
          <option class="select__option" value="Krasnoe">Краснополье</option>
          <option class="select__option" value="Gomel">Гомель</option>
        </select>
      </div>
      <div class="vacancies">
        <div class="vacancy" data-city="Minsk">
          <p class="vacancy__title headline-3">
            УПРАВЛЕНИЕ ПО ТРУДУ ЗАНЯТОСТИ И СОЦИАЛЬНОЙ ЗАЩИТЕ КРАСНОПОЛЬСКОГО
            РАЙИСПОЛКОМА
          </p>
          <div class="vacancy__info">
            <div class="vacancy__info__item">
              <p><strong>Адрес:</strong></p>
              <p>213561 Могилевская область, г.Минск, ул.Ленинская, 2</p>
            </div>
            <div class="vacancy__info__item vacancy__info__item&#45;&#45;phone">
              <p><strong>Контактный телефон:</strong></p>
              <a href="tel:+375 29 123 45 67" title="Позвонить"
                ><p>+375 29 123 45 67</p></a
              >
            </div>
          </div>
        </div>

        <div class="vacancy" data-city="Krasnoe">
          <p class="vacancy__title headline-3">
            УПРАВЛЕНИЕ ПО ТРУДУ ЗАНЯТОСТИ И СОЦИАЛЬНОЙ ЗАЩИТЕ КРАСНОПОЛЬСКОГО
            РАЙИСПОЛКОМА
          </p>
          <div class="vacancy__info">
            <div class="vacancy__info__item">
              <p><strong>Адрес:</strong></p>
              <p>
                213561 Могилевская область, г.п.Краснополье, ул.Ленинская, 2
              </p>
            </div>
            <div class="vacancy__info__item vacancy__info__item&#45;&#45;phone">
              <p><strong>Контактный телефон:</strong></p>
              <a href="tel:+375 29 123 45 67" title="Позвонить"
                ><p>+375 29 123 45 67</p></a
              >
            </div>
          </div>
        </div>

        <div class="vacancy" data-city="Gomel">
          <p class="vacancy__title headline-3">
            УПРАВЛЕНИЕ ПО ТРУДУ ЗАНЯТОСТИ И СОЦИАЛЬНОЙ ЗАЩИТЕ КРАСНОПОЛЬСКОГО
            РАЙИСПОЛКОМА
          </p>
          <div class="vacancy__info">
            <div class="vacancy__info__item">
              <p><strong>Адрес:</strong></p>
              <p>213561 Могилевская область, г.Гомель, ул.Ленинская, 2</p>
            </div>
            <div class="vacancy__info__item vacancy__info__item&#45;&#45;phone">
              <p><strong>Контактный телефон:</strong></p>
              <a href="tel:+375 29 123 45 67" title="Позвонить"
                ><p>+375 29 123 45 67</p></a
              >
            </div>
          </div>
        </div>

        <div class="vacancy&#45;&#45;empty">
          <p class="headline-3">
            НА СЕГОДНЯ НЕТ АКТУАЛЬНЫХ ПРЕДЛОЖЕНИЙ ОТ КЛУБОВ
          </p>
        </div>
      </div>
      <div class="article__buttons article__buttons&#45;&#45;left">
        <a href="#" class="btn" target="_blank"
          ><span>Найти ближайшую организацию</span></a
        >
      </div>
    </div>
  </body>
</html>
